action/mocks/*.go
c.out
c.out.tmp
junit.xml
junit.output
key.txt
coverage.xml
cleanup.log

output/
dist/
dev/tmp
build_ca_certificate
.vscode/

ci/identity/users.yml

# CLI binaries
conjur
# Exclude binary entrypoint
!cmd/conjur

VERSION

ci/conf/tls/*.crt
ci/conf/tls/*.key

vhs/output