action/mocks/*.go
c.out
junit.xml
junit.output
key.txt
coverage.xml
cleanup.log

output/
dist/
dev/tmp
build_ca_certificate
.vscode/

# CLI binaries
conjur
# Exclude binary entrypoint
!cmd/conjur

VERSION
