version: '3'
services:
  pg:
    image: postgres:10.16
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

  conjur:
    image: cyberark/conjur:1.19.1-3325
    command: server
    environment:
      DATABASE_URL: postgres://postgres@pg/postgres
      CONJUR_DATA_KEY: Bd4+A1QnELGC1Fb5/KauFlVez981OoYblbyfNOCavuQ=
      CONJUR_FEATURE_PKCE_SUPPORT_ENABLED: true
    volumes:
    # The files add the endpoint /dev to Conjur. This endpoint allows us to carry out typical development tasks such as fetching
    # any role's API key via an unauthenticated HTTP request to Conjur.
      - ./conjur-hacks/dev_initializer.rb:/opt/conjur-server/config/initializers/dev_initializer.rb
      - ./conjur-hacks/dev_controller.rb:/opt/conjur-server/app/controllers/dev_controller.rb
      - ./keycloak:/oauth/keycloak/scripts
    
  cli-dev:
    image: golang:1.19
    command: bash -c "cd ${PWD}/..; make install; sleep infinity"
    working_dir: ${PWD}/..
    restart: on-failure
    volumes:
      - ${PWD}/..:${PWD}/..
      - ./tmp/.bashrc:/root/.bashrc
      - go-modules:/go/pkg/mod # Put modules cache into a separate volume
  keycloak:
    image: jboss/keycloak:4.3.0.Final
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_APP_USER=alice
      - KEYCLOAK_APP_USER_PASSWORD=alice
      - KEYCLOAK_APP_USER_EMAIL=alice@conjur.net
      - KEYCLOAK_SECOND_APP_USER=bob.somebody
      - KEYCLOAK_SECOND_APP_USER_PASSWORD=bob
      - KEYCLOAK_SECOND_APP_USER_EMAIL=bob@conjur.net
      - KEYCLOAK_NON_CONJUR_APP_USER=not_in_conjur
      - KEYCLOAK_NON_CONJUR_APP_USER_PASSWORD=not_in_conjur
      - KEYCLOAK_NON_CONJUR_APP_USER_EMAIL=not_in_conjur
      - DB_VENDOR=H2
      - KEYCLOAK_CLIENT_ID=conjurClient
      - KEYCLOAK_REDIRECT_URI=http://localhost:8888/callback
      - KEYCLOAK_CLIENT_SECRET=1234
      - KEYCLOAK_SCOPE=openid
    ports:
      - "7777:8080"
      - "7788:8443"
    volumes:
      - ./keycloak:/scripts
      - ./keycloak/standalone.xml:/opt/jboss/keycloak/standalone/configuration/standalone.xml

volumes:
  go-modules:
