services:
  pg:
    image: postgres:15
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

  conjur:
    image: ${REGISTRY_URL:-docker.io}/cyberark/conjur:edge
    command: server
    environment:
      DATABASE_URL: postgres://postgres@pg/postgres
      CONJUR_DATA_KEY: Bd4+A1QnELGC1Fb5/KauFlVez981OoYblbyfNOCavuQ=
      CONJUR_AUTHENTICATORS: authn,authn-ldap/test-service,authn-oidc/keycloak,authn-oidc/okta,authn-jwt/keycloak,authn-oidc/identity
      CONJUR_FEATURE_PKCE_SUPPORT_ENABLED: 'true'
      LDAP_URI: ldap://ldap-server:389
      LDAP_BASE: dc=conjur,dc=net
      LDAP_BINDDN: cn=admin,dc=conjur,dc=net
      CONJUR_FEATURE_DYNAMIC_SECRETS_ENABLED: true
      LDAP_BINDPW: ldapsecret
      LDAP_FILTER: (uid=%s)
    volumes:
      # The files add the endpoint /dev to Conjur. This endpoint allows us to carry out typical development tasks such as fetching
      # any role's API key via an unauthenticated HTTP request to Conjur.
      - ./conjur-hacks/dev_initializer.rb:/opt/conjur-server/config/initializers/dev_initializer.rb
      - ./conjur-hacks/dev_controller.rb:/opt/conjur-server/app/controllers/dev_controller.rb
      - ./keycloak:/oauth/keycloak/scripts
    depends_on:
      - pg
      - ldap-server

  proxy:
    image: nginx:1.13.6
    volumes:
      - ./conf/:/etc/nginx/conf.d/:ro
      - ./conf/tls/:/etc/nginx/tls/:ro
    depends_on:
      - conjur
    restart: on-failure

  # TODO: integration tests should be carried out against release asset binary (not the one created by make install)!
  cli:
    image: golang:1.24
    environment:
      - OKTA_CLIENT_ID=$OKTA_CLIENT_ID
      - OKTA_CLIENT_SECRET=$OKTA_CLIENT_SECRET
      - OKTA_PROVIDER_URI=$OKTA_PROVIDER_URI
      - OKTA_USERNAME=$OKTA_USERNAME
      - OKTA_PASSWORD=$OKTA_PASSWORD
      - IDENTITY_CLIENT_ID=$IDENTITY_CLIENT_ID
      - IDENTITY_CLIENT_SECRET=$IDENTITY_CLIENT_SECRET
      - IDENTITY_PROVIDER_URI=$IDENTITY_PROVIDER_URI
      - IDENTITY_USERNAME=$IDENTITY_USERNAME
      - IDENTITY_PASSWORD=$IDENTITY_PASSWORD
      - CONJUR_APPLIANCE_URL=$INFRAPOOL_CONJUR_APPLIANCE_URL
      - IDENTITY_USERNAME_CLOUD=$INFRAPOOL_IDENTITY_USERNAME_CLOUD
      - IDENTITY_PASSWORD_CLOUD=$IDENTITY_PASSWORD_CLOUD
    command: bash -c "cd ${PWD}/..; make install; sleep infinity"
    working_dir: ${PWD}/..
    restart: on-failure
    ports:
      - 8080
    volumes:
      - ${PWD}/..:${PWD}/..
      - go-modules:/go/pkg/mod # Put modules cache into a separate volume

  vhs-runner:
      build:
        context: ..
        dockerfile: ./vhs/Dockerfile
      volumes:
        - ${PWD}/../vhs/:/vhs/
      environment:
        - TERM=xterm-256color
        - PATH=/vhs:$PATH
        - CONJUR_APPLIANCE_URL=$INFRAPOOL_CONJUR_APPLIANCE_URL
        - IDENTITY_USERNAME_CLOUD=$INFRAPOOL_IDENTITY_USERNAME_CLOUD
        - IDENTITY_PASSWORD_CLOUD=$IDENTITY_PASSWORD_CLOUD

  keycloak:
    image: registry.tld/jboss/keycloak:4.3.0.Final
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_APP_USER=alice
      - KEYCLOAK_APP_USER_PASSWORD=alice
      - KEYCLOAK_APP_USER_EMAIL=alice@conjur.net
      - KEYCLOAK_SECOND_APP_USER=bob.somebody
      - KEYCLOAK_SECOND_APP_USER_PASSWORD=bob
      - KEYCLOAK_SECOND_APP_USER_EMAIL=bob@conjur.net
      - KEYCLOAK_NON_CONJUR_APP_USER=not_in_conjur
      - KEYCLOAK_NON_CONJUR_APP_USER_PASSWORD=not_in_conjur
      - KEYCLOAK_NON_CONJUR_APP_USER_EMAIL=not_in_conjur
      - DB_VENDOR=H2
      - KEYCLOAK_CLIENT_ID=conjurClient
      - KEYCLOAK_REDIRECT_URI=http://127.0.0.1:8888/callback
      - KEYCLOAK_CLIENT_SECRET=1234
      - KEYCLOAK_SCOPE=openid
    ports:
      - "7777:8080"
      - "7788:8443"
    volumes:
      - ./keycloak:/scripts
      - ./keycloak/standalone.xml:/opt/jboss/keycloak/standalone/configuration/standalone.xml

  ldap-server:
    image: osixia/openldap
    command: --copy-service --loglevel debug
    hostname: ldap-server
    environment:
      LDAP_ORGANISATION: CyberArk
      LDAP_DOMAIN: conjur.net
      LDAP_ADMIN_PASSWORD: ldapsecret
      LDAP_TLS: false
    expose:
      - 389
    volumes:
      - ./ldap:/container/service/slapd/assets/config/bootstrap/ldif/custom

volumes:
  go-modules:
